body {
	/*background-image: url("../imagens/bg.png");*/
}

textarea {
	resize: none;
}

footer {
	background-color: #74ffbd;
}

em.marca-texto {
	background-color: #e9ff17;
	font-style: normal;
}

em.cor {
	color: red;
	font-style: normal;
}

#top {
	background-color: #e9ff17;
}

#conteudo {
	background-color: #fff;
}

#ingredientes {
	height: 200px;
}

#preparo {
	height: 200px;
}

#navbar {
	background-color: #e9ff17;
	border-bottom: solid 1px lightgray;
}

#navReceita {
	padding-left: 0;
}

#btnPesquisa {
	color: black;
	border-color: black;
	background-color: transparent;
	transition: 1s;
}

#btnPesquisa:hover {
	background-color: transparent;
	color: red;
	border-color: red;
}

#pesquisa {
	min-width: 400px;
}

.nav-link {
	color: black;
	transition: color 1s;
}

.nav-link:hover {
	color: red;
}

.btn-principal {
	background-color: white;
	border: solid 1px #9e9e9e;
	color: black;
}

.btn-principal:hover {
	background-color: #74ffbd;
	border-color: gray;
	color: black;
}

.btn-principal:active {
	background-color: white;
	color: black;
}

.btn-secundario {
	background-color: gray;
}

.painel-link, .painel-link:hover{
	color: black;
	text-decoration: none;
}

.fa-github, .fa-github:hover {
	color: black;
	text-decoration: none;
	font-size: 40px;
}

.fa-facebook-official, .fa-facebook-official:hover {
	color: #29487d;
	text-decoration: none;
	font-size: 40px;
}

.fa-twitter, .fa-twitter:hover {
	color: #1da1f2;
	text-decoration: none;
	font-size: 40px;
}

.fa-pencil-square-o, .fa-trash-o{
	font-size: 24px;
	margin-right: 6px;
}

a.fa {
	background-color: white;
	border-radius: 10px;
	border-right: solid lightgray 2px;
	border-bottom: solid lightgray 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-top: 7px;
}

.fa-search {
	font-size: 20px;
}

.card {
	border: none;
	transition: .5s opacity;
	margin-bottom: 40px;

}

.card:hover {
	opacity: .7;
}

.img-card {
	height: 200px;
}

.dropdown-item:active {
	background-color: red;
}

.italico {
	font-style: italic;
}